
.container {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1px rgba(0, 0, 0, 0.5);
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s;
}

#tarot-reading {
    display: none;
}

.card {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
}

a:hover { 
    opacity: 0.5;
}

.card:hover {
    opacity: 0.5;

}

a { 
    color: white;
}                                                                                                                                            

input[type=checkbox] {
    width: 50px;
    height: 5   0px;
}

input[type=submit] {
    width: 150px;
    height: 100px;
}

h1 {
    color: white;
}

body {
    background: white url("images/fantasy-background-7.jpg") no-repeat;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}