.idea/
.vscode/
.DS_store

*.pyc 

tarotproject/__pycache__/
tarotapp/__pycache__/

source/content/media/
source/content/static/

tarotproject/.env

django_env/

db.sqlite3

django_env/pyvenv.cfg
tarotapp/migrations
# Ignore migrations except for init file
!/tarotapp/migrations
/tarotapp/migrations/*
!/tarotapp/migrations/__init__.py