{% load static %}
<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="{% static 'tarotapp/style.css' %}">
	<script src="{% static 'tarotapp/cardtable.js' %}" defer></script>
</head>

<body>
		<div class="container">
		  <img src="{% static 'tarotapp/images/Cloth-Fabric-Background-5.jpg' %}" style="width:100%;">

		  <div class="centered">
            
			<div id="card-table">
				<h1>{{text}}</h1>

				<table style="width:100%">
					<tr>
						<td align="center"><a href="{% url 'five_cards' %}" onclick="loadCards()"><img src="{% static 'tarotapp/images/' %}{{cut_deck_image}}" width="300"></a>
						</td>
						<td align="center"><a href="{% url 'five_cards' %}" onclick="loadCards()"><img src="{% static 'tarotapp/images/' %}{{cut_deck_image}}" width="300"></a>
						</td>
					</tr>
				</table>
			</div>

			<div id="loading" style="display: none;">
                <img src="{% static 'tarotapp/images/sparkles.gif' %}" alt="Your fate is loading ...">
            </div>

		</div>

	</div>

</body>

</html>